<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>organisations</title>
</head>
<body>
<div th:replace="fragments/menu :: menu">...</div>
<center>
    <table>
        <th>id</th>
        <th>name</th>
        <th>workers</th>
        <tr th:each="organisation: ${organisations}">
            <td th:text="${organisation.id}"/>
            <td th:text="${organisation.name}"/>
            <td th:text="${organisation.workers.size()}"/>
            <td ><a th:href="@{'/page/workers?organisationId='+${organisation.id}}">see workers</a></td>
        </tr>
    </table>
</center>
</body>
</html>
