<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>organisations</title>
</head>
<body>
<div th:replace="fragments/menu :: menu">...</div>
<center>
    <table>
        <th>id</th>
        <th>full name</th>
        <tr th:each="worker: ${workers}">
            <td th:text="${worker.id}"/>
            <td th:text="${worker.fullName}"/>
            <th>
                <a th:href="@{'/page/workers/delete?worker_id='+${worker.id}}">X</a>
            </th>
        </tr>
    </table>
    <form
        action="/test"
    >
        <input name="fullName">
    </form>
</center>
</body>
</html>
